body {
    background-color: rgb(3, 243, 191);
    padding: 25px;
}

.main {
    background-color: #222;
    color: aliceblue;
}
.mail{
    text-decoration: none;
}

.blink p, .blink p a {
    font-weight: 900;
    font-size: 45px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgb(3, 243, 191);
    transition: 1s;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

.blink p[data-scroll="in"] {
    transform: scaleX(1);
    transition-delay: 0.5s;
}

.blink p span {
    font-size: 65px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    animation: blink 2s linear infinite;
    text-shadow: rgb(3, 243, 191) 1px 1px, rgb(3, 243, 191) -1px 1px,
        rgb(3, 243, 191) -1px -1px, rgb(3, 243, 191) -1px 1px;
    color: #000;
    background: transparent;
    transition: 0.5s ease-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5s;
    }

    100% {
        opacity: 1;
        background-color: rgb(3, 243, 191);
    }
}

h3 {
    font-size: 40px;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

h3[data-scroll="in"] {
    transform: scaleX(1);
    transition-delay: 0.5s;
}

.partenaire, .choix {
    transition: 0.5s;
    opacity: 0;
}

.partenaire[data-scroll="in"], .choix[data-scroll="in"] {
    opacity: 1;
    transition-delay: 0.5s;
}

.sec {
    font-size: 110px;
    background: rgba(241, 157, 0, 0.61);
}

.card-body {
    background: beige;
}